
.navh{

  margin-left: 50px;
}
.ghy{
width: 135px;
background-color: rgb(43, 116, 226);
margin-left: 600px;
margin-top: 10px;  
}
.ghy:hover{
  background-color: aliceblue;
}
.sign{
  margin: 2px;
  padding: 8px;
}